{{- if .Values.traefik.middlewares.enabled -}}
{{- $name := include "helm-rest-api.fullname" . -}}
{{- if .Values.traefik.middlewares.rateLimit.enabled -}}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ printf "%s-ratelimit" $name }}
  labels:
    {{- include "helm-rest-api.labels" . | nindent 4 }}
spec:
  rateLimit:
    average: {{ .Values.traefik.middlewares.rateLimit.average }}
    burst: {{ .Values.traefik.middlewares.rateLimit.burst }}
---
{{- end -}}
{{- if .Values.traefik.middlewares.retry.enabled -}}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ printf "%s-retry" $name }}
  labels:
    {{- include "helm-rest-api.labels" . | nindent 4 }}
spec:
  retry:
    attempts: {{ .Values.traefik.middlewares.retry.attempts }}
    initialInterval: {{ .Values.traefik.middlewares.retry.initialInterval | quote }}
---
{{- end -}}
{{- if .Values.traefik.middlewares.headers.enabled -}}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ printf "%s-headers" $name }}
  labels:
    {{- include "helm-rest-api.labels" . | nindent 4 }}
spec:
  headers:
    stsSeconds: {{ .Values.traefik.middlewares.headers.stsSeconds }}
    stsIncludeSubdomains: {{ .Values.traefik.middlewares.headers.stsIncludeSubdomains }}
    stsPreload: {{ .Values.traefik.middlewares.headers.stsPreload }}
    contentTypeNosniff: {{ .Values.traefik.middlewares.headers.contentTypeNosniff }}
    browserXssFilter: {{ .Values.traefik.middlewares.headers.browserXssFilter }}
    frameDeny: {{ .Values.traefik.middlewares.headers.frameDeny }}
{{- end -}}
{{- end -}}

