replicaCount: 2

image:
  repository: ghcr.io/ahmedbadawy4/helm-rest-api
  tag: main
  pullPolicy: Always

imagePullSecrets: []

env:
  name: dev

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 70

pdb:
  enabled: true
  minAvailable: 1

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - host: api.dev.company.example
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: helm-rest-api-tls
      hosts:
        - api.dev.company.example

traefik:
  middlewares:
    enabled: true

monitoring:
  serviceMonitor:
    enabled: true

automountServiceAccountToken: false

networkPolicy:
  enabled: true
  allowIngressFromNamespaces:
    - traefik
    - monitoring
  allowEgressDNS: true
