replicaCount: 1

image:
  # For GitHub Container Registry, the default image name is: ghcr.io/<owner>/<repo>
  # Example: ghcr.io/acme/helm-rest-api
  repository: ghcr.io/ahmedbadawy4/helm-rest-api
  tag: main
  pullPolicy: IfNotPresent

imagePullSecrets: []

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 10001
  runAsGroup: 10001
  fsGroup: 10001
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  name: ""

podAnnotations: {}

podLabels: {}

service:
  type: ClusterIP
  port: 80

container:
  port: 8080

env:
  listenHost: "0.0.0.0"
  name: ""

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
