replicaCount: 1

image:
  # For GitHub Container Registry, the default image name is: ghcr.io/<owner>/<repo>
  repository: ghcr.io/ahmedbadawy4/helm-rest-api
  tag: main
  pullPolicy: IfNotPresent

imagePullSecrets: []

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

pdb:
  enabled: false
  minAvailable: 1

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []

monitoring:
  serviceMonitor:
    enabled: false
    interval: 30s
    scrapeTimeout: 10s
    path: /metrics
    honorLabels: false
    additionalLabels: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 10001
  runAsGroup: 10001
  fsGroup: 10001
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  name: ""

podAnnotations: {}

podLabels: {}

service:
  type: ClusterIP
  port: 80

container:
  port: 8080

env:
  listenHost: "0.0.0.0"
  name: ""

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
