replicaCount: 3

env:
  name: prod

image:
  repository: ghcr.io/ahmedbadawy4/helm-rest-api
  tag: main
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 512Mi

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70

pdb:
  enabled: true
  minAvailable: 2

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - host: api.prod.company.example
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: api-company-example-tls
      hosts:
        - api.prod.company.example

traefik:
  middlewares:
    enabled: true

monitoring:
  serviceMonitor:
    enabled: true

automountServiceAccountToken: false

networkPolicy:
  enabled: true
  allowIngressFromNamespaces:
    - traefik
    - monitoring
  allowEgressDNS: true
